
.heading-desktop {
    margin-bottom: 25px;
    font-size: 45px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}
.heading-mobile {
    display: none;
}

.main-content {
    text-align: center;
    padding-top: 40px;
    padding-right: 1rem;
    padding-bottom: 50px;
    padding-left: 1rem;
    align-items: center;
}
.big-title{
    padding-left: 5%;
    padding-right: 5%;
}
.subtitle {
    text-align: center;
    letter-spacing: 0;
    color: black;
    opacity: 1;
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.7;
    margin-bottom: 55px !important;
}
.adv-types{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.adv-types-list{
    cursor: pointer;
    margin: 12.5px;
    display: flex;
    align-items: center;
    width: 100%;
}
.adv-img {
    border: none;
    border-radius: 8px;
    width: 70px;
}
.advtypes-paragraph{
    width: 49%;
    padding-left: 15px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.p1 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
.p2 {
    line-height: 2.2;
    margin: 0;
    font-size: 13px;
    color: #ffba00;
    text-decoration: underline;
}
.slick-dots {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}
.dot1 {
    background-color: #32a687;
    border: none;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    font-size: 0px;
    padding: 3.5px;
    margin: 0 10px;
    cursor: pointer;
}
@media screen and (max-width:1200px) {
    .adv-types{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:768px) {
    .heading-desktop{
        display: none;
    }
    .adv-types{
        display: grid;
        grid-template-columns: auto auto;
    }
    .heading-mobile {
        margin-top: 0;
        display: block;
        color: #ffba00;
        text-align: left;
        padding-left: 10px;
        line-height: 1.8;
        margin-bottom: 15px !important;
        font-size: 31px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;    
    }
    .span {
        color: black;
    }
   .border-bottom-yellow {
    background: #fbca48 0 0 no-repeat padding-box;
    opacity: 1;
    width: 120px;
    height: 5px;
    margin-bottom: 25px!important;
    margin-left: 15px;
   }
   .main-content {
    padding-top: 80px;
   }
   .subtitle {
    font-size: 18px;
    padding-left: 25px;
   }
}
@media screen and (max-width:576px) {
    .adv-types{
        display: grid;
        grid-template-columns: auto;
    }
}